.pokedex-box{
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: aqua;
}
#heading{
    margin: 0 auto;
    letter-spacing: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}