.pokemon{
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    /* border: 1px solid black; */
    margin: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 5px green;
}

.pokemon-name{
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: darkmagenta;
}
.pokemon-img{
    height: 200px;
    width: 300px;
    margin-top: 1rem;
}